.filter-title {
    margin: 48px 0;
    font-size: 2.5rem;
    font-weight: 600;
}

/* Projects */
.projects {
    padding: 24px 64px;
}

/* Project */
.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.project-name-container {
    display: flex;
    align-items: center;
    border-bottom: 2px dotted var(--color-neutral-light-grey);
    gap: 8px;
    margin-bottom: 12px;
}

.project-name-text {
    font-size: 1.8rem;
    font-weight: 500;
}

.project-name-container svg {
    fill: var(--color-icon-default);
    cursor: pointer;
}

/* Tasks */
.task {
    display: flex;
    border-bottom: 1px solid var(--color-neutral-light-grey);
    padding: 16px 4px;
}

.task__completion-mark {
    border-radius: 50%;
    border: 1px solid var(--color-neutral-dark-grey);
    height: 1.25rem;
    width: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.task__completion-mark.task-completed {
    border: none;
    background-color: var(--color-accent);
}

.task__completion-mark:hover {
    transition-duration: .1s;
    transform: scale(1.1);
}

.task__details {
    flex: 1 1 0;
    padding-left: 12px;
}

.task__details-dueDate {
    margin-top: 4px;
    font-size: .8rem;
    font-weight: 300;
}

.task__actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task__actions svg {
    fill: var(--color-icon-default);
}

button.task__actions-action {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Task Tooltip */
.task-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.task-tooltip .task-tooltip-text {
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    background-color: var(--color-accent);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.85rem;

    /* Positioning */
    position: absolute;
    bottom: 125%;
    /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    /* Optional: Add an arrow */
    opacity: 0;
    transition: opacity 0.2s;
}

.task-tooltip:hover .task-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.task-tooltip:hover svg {
    transition-duration: .1s;
    fill: var(--color-accent);
}

.task-tooltip .task-tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    /* Place arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-accent) transparent transparent transparent;
}

.due-date--past {
    color: red;
}

.due-date--present {
    color: rgb(196, 196, 5);
}

.due-date--future {
    color: green;
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    border: 1px dashed var(--color-accent);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.add-task:hover {
    background-color: var(--color-accent);
}

.add-task:hover .add-task__text {
    color: white;
}

.add-task__text {
    color: var(--color-accent);
}